<h1>show shorten url</h1>

<p><strong>Long URL: </strong><%= @shorten_url.long_url %></p>
<p><strong>Description: </strong><%= @shorten_url.description %></p>
<p><strong>Token: </strong><%= @shorten_url.short_token %></p>